@import "variable.less";

.download {
  min-width: 300px;
 /* margin:  0 auto;*/
  text-align: center;
  padding-bottom: 28px;
  font-weight: 300;
  color: #fff;
}

.btn {
  display: inline-block;
  margin-bottom: 32px;
  vertical-align: top;
  padding: 0 32px;
  font: 700 18px/49px @font-family;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 30px;

  &:hover {
    background-color: #fff;
    border-color: @color-hover;
    color: @color-hover;
  };

}

.download-icons {
  margin-bottom: 24px;
  padding: 0 19px;
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 16px ;
    height: 55px;
    width: 46px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  };

  &__item--iphone {
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAA5CAMAAAB+tOkmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEUAAAD///////////////////////////////////////////////////////////////8AAADx3eDuAAAAEHRSTlMAQIAgn+8Qj8/fr2BwvzBQTn5oPAAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAE5SURBVEjHlZbbloMwCEUVQ65G+f+vHZ1catqu5sBj3AvhACHLMrGVthnSbTMssoKwdXIbiFsvCtyGQgvmvPqWCNFUaUlQKFzpADnfm3Ms0Ra5w2SptMFkWQtNGF3wfID0cuRIE3ilfJk7HxmkeKecTbLvuVGrubArfs8oLzNDG58sT/O0u/FEeH/RJIB1UQ1Cdz5htMi/CgdKl6JlkE7PeoO0Ms8Fo7nW9dSkCVZIpDUNpkteVHifE9bhuky1OBaM0aXqdbi02XMY3m6zHcO5ukeHI6uk6eJEEK88PNiS7/gtjJcfwNGUtYZHU8Y7oDRrKtX60oLSt9sAjL43vUfo0FcI1DiPhQzcNsNCnk6JH7bZTB1+W5vHb/7jmfLkvSFy/hd98fU7t6fg1nZt+L7Akxm39nWd03jyBztjZoUGT4veAAAAAElFTkSuQmCC")
  }

  &__item--win {
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAqBAMAAAA686QvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAElBMVEUAAADxURuAzCgAre/7vAkAAAB89S5aAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAjSURBVCjPYxCEAwEmJThgGBUegsKkAWM4MGBxgYNR4SEoDAA33YpJLc7sDwAAAABJRU5ErkJggg==");
  };

  &__item--android {
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAvCAMAAACi0KjaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEUAAACkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjmkxjkAAACTXjzEAAAAEHRSTlMAjyBAgFCv7xCf32C/cM8wtVBr1AAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAADySURBVDjL7ZXZEoMgDEXTIoSAS/7/awsBHFsCnWlfvS8GOcZIFgGaHs14mqRnd/uiRXatQxahs/LcoqCeEhj4opBg8goKMRJ/iGLUSPDInVB1Ci5vLetJiek0csv7EXxDl2Juo9c7HxtaTSWEyANFNVJVfbQ4QrFDeSj4Q2aonwIwRPYbaomSc1tTMkMlkRb2eiAzVA4yQFvO0Hq90RuVygpzVIbeDiZXmJ2juabR5Akqk3WGNqaKRiT1M2vVyVUbm0a+kLfS0tJPvB/6KCh+a9+b4hNuVJdreRTJwg3QI1fO+fPJOcBBBqQqLoPXvNUIwAtHxUYW5CJ9BgAAAABJRU5ErkJggg==")
  }

}

@media (min-width: 680px) and (max-width: 979px) {

  .download {
    width: 50%;
    padding-bottom: 110px;
    font: 300 18px/24px @font-family;
  }

  .btn {
    margin-bottom: 48px;
  }

  .download-icons {
    margin-bottom: 36px;
  }

}

@media (min-width: 980px) {

  .download {
    width: 320px;
    padding-bottom: 123px;
    font: 300 18px/24px @font-family;
  }

  .btn {
    margin-bottom: 65px;
    font: 700 21px/49px @font-family;
  }

  .download-icons {
    margin-bottom: 57px;
  }

}
