@import "variable.less";


.intro {
  padding-top: 86px;
  height: 458px;
  color: #fff;
  background:
     url("../img/intro-bg__hand.png") 50%  100% no-repeat,
     #283445 url("../img/intro-bg.jpg") 49% 70% no-repeat;

  &__title {
    display: block;
    margin-top: 0px;
    font: @font-h2;
    text-align: center;
  };

}

.btn {
  display: block;
  margin-bottom: 30px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 0 34px;
  font: 700 18px/49px @font-family;
  text-align: center;
  text-decoration: none;
  color: #fff;

  &:hover {
    background-color: #fff;
    border-color: @color-hover;
    color: @color-hover;
  };

}
