@import "variable.less";

.price {
  position: relative;
  padding: 130px 0 40px;
  font-size: 0;
  background-color:@color-bg__section;

  &:before {
    content:"";
    position: absolute;
    top: -100px;
    left: -5%;
    height: 125px;
    width: 150%;
    background-color: #fff;
    transform: rotate(-4deg);
  };

}

.price-table {
  position: relative;
  width: 300%;
  left: 50%;
  transform: translateX(-50%);

  &__header {
    position: relative;
    padding: 15px 0;
    text-align: center;
    background-color: @color-bg__header;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    z-index:  100;
    overflow: hidden;


    &--hit:before {
      position: absolute;
      content: "хит";
      left: 0;
      top: 0;
      padding: 0 50px;
      text-align: center;
      font: 600 14px/30px @font-family;
      color: #fff;
      text-transform: uppercase;
      background-color: @color-hover;
      transform: translate(-40px, 10px) rotate(-45deg);
      z-index: 1;
    };

  };

  &__title {
    font: @font-h3;
    text-transform: uppercase;
    color: #fff;
  };

  &__cost {
    font: 300 24px/40px @font-family;
    text-transform: uppercase;
    color: #fff;
  };

  &__cell {
    position: relative;
    padding: 0 20px;
    font: 400 14px/59px @font-family;
    text-transform: uppercase;
    color: @color-bg__header;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-top: none;

    &:first-child {
      display: none;
    };

  };

  &__icon {
    float: right;
    height: 29px;
    width: 29px;
    margin: 15px 0;

    &--yes {
      background: #fff url("../img/yes.svg") 50% 0 no-repeat;
    };

    &--no {
      background: #fff url("../img/no.svg") 50% 0 no-repeat;
    };

  };

}

.slider-price {
  overflow: hidden;

  &__container {
    margin-bottom: 30px;
  };


}

@media (min-width: 768px) and (max-width: 1223px) {

  .price {
    padding: 80px 0 30px;

    & .slider-control {
      display: none;
    };

  }

  .price-table {
    width: 100%;

    &__header {
      padding: 7px 0;

      &--hit::before {
        transform: translate(-47px, 4px) rotate(-45deg);
      };

    };

    &__title {
      font: 700 16px/30px @font-family;
    };

    &__cost {
      font: 300 18px/30px @font-family;
    };

    &__cell {
      width: 25%;
      padding: 0 15px;
      text-transform: none;
      font-size: 0;
      line-height: 32px;
      text-align: center;

      &:first-child {
        display: table-cell;
        font: 400 14px/45px @font-family;
      };

      &--empty {
        background-color: #f2f2f2;
        border: none;
      };

    };

    &__icon {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    };

  }
}

@media (min-width: 1224px) {

  .price {
    margin-bottom: 44px;
    padding: 0 0 40px;

    &:before {
      top: -115px;
      height: 150px;
    };

  }

  .slider-price {

    &__container {
      padding: 160px 0 50px;
    };

    & .slider-control {
      display: none;
    };

  }

  .price-table {
    width: 100%;

    &__title {
      font: 700 18px/30px @font-family;
    };

    &__cell {
      width: 25%;
      padding: 0 25px;
      text-transform: none;
      font-size: 0;
      line-height: 32px;
      text-align: center;

      &:first-child {
        display: table-cell;
        font: 400 18px/60px @font-family;
        text-align: left;
      };

      &--empty {
        background-color: #f2f2f2;
        border: none;
      };

    };

    &__icon {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    };

  }

}
