@import "normalize.less";
@import "variable.less";
@import "intro.less";
@import "download.less";
@import "information.less";
@import "effect.less";
@import "reviews.less";
@import "price.less";
@import "footer.less";
@import "header.less";

/* base */
* ,
 :before,
 :after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
span,
blockquote,
address {
  margin: 0;
}

body {
  font: 400 14px/24px @font-family;
  background: @color-bg__body;
}

address {
  font-size: 0;
}

.container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider-control {
  font-size: 0;
  text-align: center;

  &__item {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: middle;
    height: 6px;
    width: 6px;
    margin: 0 10px;
    background-color: #b2b2b2;
    border-radius: 50%;
    cursor: pointer;

    &--active,
    &:hover {
      margin: 0 7px;
      background-color: #fff;
      border: 3px solid @color-bg__header;
    };

  };

}

@media (min-width: 680px) and (max-width: 980px) {

  .page-header__wrap {

  }

  .container {
    width: 680px;
  }

}












@media (min-width: 980px) {

  .container {
    width: 660px;

    &--top {
      background: url("../img/header-bg__hand--1000.png") 30%  100% no-repeat;
    };

  }

}

